doctype html
html(lang="en")
    head
        title Bexxle Activation Email
        style
            body {
                font-family: Verdana;
                font-size: 13px;
                background: #eee;
            }
    body
        #{activationToken}
